@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.parallax-header {
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-image: url("../assets/menu/menu-main.jpg");
    padding: 0;
    background-position-y: -3vh;
    max-width: 100vw;
    overflow: hidden;
    margin-top: -2vh;
}

main{
    margin: auto;
    width: 100%;
}

section{
    padding: 0;
    margin: 0;
}

.menu{
    display: flex;
}

.img-container {
    overflow: hidden;
    display: inline-block;
    width: 42vw;
    margin: 3vw;
    position: relative;
}

.img-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    display: block;
    z-index: 1;
}

.img-container img:hover {
    transform: scale(1.05);
}

.img-overlay-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;
    background: none;
    color: white;
    pointer-events: none;
    z-index: 2;
    padding: 20px;
}

.img-overlay-menu h5{
    background-color: whitesmoke;
    color: rgb(42, 42, 42);
    padding: 1vh 1vw;
    font-family: "Lato";
    margin-bottom: 0;
    margin-left: 0;
}

.img-overlay-menu p{
    margin-top: 0;
    margin-left: 0;
    font-size: 2em;
    font-weight: 700;
    font-family: "Oswald";
}

.menu-2{
    justify-content: flex-start;
    align-items: flex-end;
    text-align: start;
    padding: 0;
}

.menu-2 h5{
    margin: 0;
    font-family: "Lato";
    margin-right: 2vw;
    margin-top: 3vh;
}

.menu-2 p{
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    font-family: "Oswald";
    margin-right: 2vw;
}
