@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --background-color: #111111;
  --primary-color: #c7a17a;
  --links-color: rgb(177, 177, 177);
  font-family: "Lato";
  --text-color: rgb(111, 111, 111);
  
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 3vw 2vw;
  justify-content: flex-start;
  gap: 4vw;
  box-sizing: border-box;
}


.card {
  width: calc((100% - 4vw * 2) / 3);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4vh;
}


.card span{
    font-family: "Lato";
    color: rgb(79, 79, 79);
    font-weight: 600;
    margin: 10px;
}

.img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(1);
  z-index: 2;
  width: 100%;
  height: auto;
}

.card:hover .img-hover {
  opacity: 1;
  transform: scale(1.1);
}

.img-base {
  display: block;
  width: 100%;
  height: auto;
}