@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --background-color: #111111;
  --primary-color: #c7a17a;
  --links-color: rgb(177, 177, 177);
  font-family: "Lato";
  --text-color: rgb(111, 111, 111);
}

body{
    margin: 0;
} 

.pre-navbar{
    margin: 0;
}

main{
    font-family: "Oswald";
    font-weight: 200;
    font-style: normal;
    color: var(--background-color);
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
}

main div{
    margin-top: 2vh;
}

main p{
    margin: 3px;
    color: var(--text-color);
    font-size: 1.1em;
}

main span{
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: large;
    color: var(--text-color);
}

hr{
    border: solid 1px rgb(233, 232, 232);
    margin: 5vw;
}

section{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 6vh;
    width: 80%;
}

.tutorial{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  background-color: #c7a17a;
  margin-top: 4vh;
  margin-bottom: 4vh;
  position: relative;
  overflow: hidden;
  justify-content: flex-end;
  z-index: 0;
  width: 450px;
  height: 300px;
  color: white;
}

.tutorial::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  z-index: -2;
}

.tutorial::after{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  z-index: -1;
}

.tutorial:hover::before{
  transform: scale(1.1);
}


.tutorial:hover::after{
  background-color: rgba(0, 0, 0, 0.6);
}

.tutorial:nth-of-type(1)::before{
    background-image: url("../assets/tutoriales/Tienda-de-Café-tutorial_1.jpg");
}


.tutorial:nth-of-type(2)::before{
    background-image: url("../assets/tutoriales/Tienda-de-Café-tutorial_2.jpg");
}

.tutorial:nth-of-type(3)::before{
    background-image: url("../assets/tutoriales/Tienda-de-Café-tutorial_3.jpg");
}


.tutorial:nth-of-type(4)::before{
    background-image: url("../assets/tutoriales/Tienda-de-Café-tutorial_4.jpg");
}

.tutorial:nth-of-type(5)::before{
    background-image: url("../assets/tutoriales/Tienda-de-Café-tutorial_5.jpg");
}


.tutorial:nth-of-type(6)::before{
    background-image: url("../assets/tutoriales/Tienda-de-Café-tutorial_6.jpg");
}

.data-tutorial{
    display: flex;
flex-direction: column;
    margin: auto;
}

.tutorial h2{
    font-family: "Oswald";
    color: whitesmoke;
}

.tutorial a{
    text-decoration-color: var(--primary-color);
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    color: whitesmoke;
    font-family: "Lato";
    font-weight: 400;
}
.tutorial a:hover{
    color:rgba(180, 180, 180, 0.8);
    text-decoration-color: rgba(155,121,84, 0.7);
}

.parallax-header {
  height: 75vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

h1{
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 2.7em;
  margin-left: 3vw;
}

.ph1{
      background-image: url("../assets/tutoriales/Header_Espresso02.jpg");
}

.ph2{
      background-image: url("../assets/tutoriales/prensafrancesa/prensafrancesa_portada_2.png");
}

.ph3{
      background-image: url("../assets/tutoriales/chemex/Tienda-de-Café-tutorial_250-scaled.jpg");
}

.ph4{
      background-image: url("../assets/tutoriales/aeropress/Aeropress_portada.jpg");
}

.ph5{
      background-image: url("../assets/tutoriales/metodo-cafetera-italiana/Tienda-de-Café-tutorial_040-scaled.jpg");
}

.ph6{
      background-image: url("../assets/tutoriales/metodo-filtro-papel/Tienda-de-Café-tutorial_034-scaled.jpg");
}

.tutorial-footer{
    background-image: url("../assets/tutoriales/Metodos_Footer.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 0;
}

.tutorial-footer h3{
    font-family: "Oswald";
    color: gray;
    font-size: 2.4em;
    margin-bottom: 0;
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.2),
     1px -1px 0 rgba(0, 0, 0, 0.2),
    -1px  1px 0 rgba(0, 0, 0, 0.2),
     1px  1px 0 rgba(0, 0, 0, 0.2);
}

.tutorial-footer h2{
    font-family: "Oswald";
    color: rgb(255, 255, 255);
    font-size: 2.6em;
    margin-top: 0;
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.2),
     1px -1px 0 rgba(0, 0, 0, 0.2),
    -1px  1px 0 rgba(0, 0, 0, 0.2),
     1px  1px 0 rgba(0, 0, 0, 0.2);

}

.tutorial-footer button{
    padding: 15px;
    font-family: "Lato";
    font-weight: 600;
    color: var(--background-color);
    border: none;
    z-index: 2;
    position: relative;
}

.tutorial-footer button:hover{
    background-color: var(--links-color);
}


.receta{
    background-color: #E8E8E8;
    width: 100%;
    padding-top: 4vh;
    padding-bottom: 3vh;
    margin: 0;
    margin-top: 9px;
}

.receta .p{
    max-width: 50%;
    margin: auto;
    margin-top:0;
    margin-bottom: 0 !important;
}

.receta p{
    margin-top: 3vh;
}

.link-clean{
    text-decoration: none;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 0;
}

.card{
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.card div{
    margin: 3vh;
}

.card p{
    font-family: "Oswald";
    font-weight: 300;
    color: var(--text-color);
    margin: 0;
}

.card h4{
    font-weight: 700;
    font-size: large;
    color: var(--text-color)
}

.cards hr{
    width: 100%;
    margin: 0;
}

.card span{
    font-family: "Oswald";
    font-weight: 300;
    color: var(--text-color);
    margin-bottom: 0;
    margin-top: 0;
}

.footer-cards-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-family: "Oswald";
    color: grey;
    font-style: italic;
    font-size: 1.3em;
    text-align: center;
}

@media (max-width: 992px) {
    .card{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .card img{
        width: 90%;
        height: auto;
    }

    .logo-nav-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .logo-navbar{
        height: 8vh !important;
        width: auto;
    }

}